<div class="container">

  <div class="card" *ngIf="user$ | async; let user">
    <img class="card-img-top" src="{{user.picture}}" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">
        <label>Name :</label> {{user.title}} {{user.first}} {{user.last}}
        <br>
        <label>Email Id:</label> {{user.email}}
        <br>
        <label>user Id:</label> {{user.id}}
      </p>
      <a class="btn btn-primary" [routerLink]="['/user', user.id,'edit']">Edit</a>
    </div>
  </div>

</div>
