<div class="container">
  <form name="form" (ngSubmit)="$click.next()" #f="ngForm" novalidate>
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <div class="input-group">
          <input [(ngModel)]="searchTerm" type="text" name="txtSearch" class="form-control" placeholder="Search" id="txtSearch" />
          <div class="input-group-btn">
            <button class="btn btn-primary" type="submit">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="card" *ngFor="let user of users$">
    <img class="card-img-top" src="{{user.picture}}" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">
        <label>Name :<a [routerLink]="['/user',user.id]" routerLinkActive="router-link-active"> {{user.title}}
            {{user.first}} {{user.last}}</a>
        </label>
      </p>
    </div>

  </div>

</div>
